body {
  background: linear-gradient(#FFFFFF,#E3F6F5)
  font-family: sans-serif;


</style>

}
.jumbotron {
  padding-top: 1rem;
  background-color: #F6D912;
}
.aboutcolor {
  color: #F6D912;
}
.row {
  color: #F6D912;
}
